In [1]:
import pandas as pd

df = pd.read_csv("kidney_disease.csv")
df.head()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [2]:
df.drop(columns=['pc','pcc', 'ba', 'sc', 'htn', 'dm', 'cad', 'appet', 'pe', 'ane'], inplace=True)
df.head()

,id,age,bp,sg,al,su,rbc,bgr,bu,sod,pot,hemo,pcv,wc,rc,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,121.0,36.0,NaN,NaN,15.4,44,7800,5.2,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,NaN,18.0,NaN,NaN,11.3,38,6000,NaN,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,423.0,53.0,NaN,NaN,9.6,31,7500,NaN,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,117.0,56.0,111.0,2.5,11.2,32,6700,3.9,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,106.0,26.0,NaN,NaN,11.6,35,7300,4.6,ckd

In [3]:
df['hemo'] = df['hemo'] * 10

df.head()

,id,age,bp,sg,al,su,rbc,bgr,bu,sod,pot,hemo,pcv,wc,rc,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,121.0,36.0,NaN,NaN,154.0,44,7800,5.2,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,NaN,18.0,NaN,NaN,113.0,38,6000,NaN,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,423.0,53.0,NaN,NaN,96.0,31,7500,NaN,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,117.0,56.0,111.0,2.5,112.0,32,6700,3.9,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,106.0,26.0,NaN,NaN,116.0,35,7300,4.6,ckd

In [4]:
df.dtypes

id                  int64
age               float64
bp                float64
sg                float64
al                float64
su                float64
rbc                object
bgr               float64
bu                float64
sod               float64
pot               float64
hemo              float64
pcv                object
wc                 object
rc                 object
classification     object
dtype: object

In [5]:
df['classification'] = pd.Categorical(df['classification'])
df.classification.unique ()

['ckd', 'ckd\t', 'notckd']
Categories (3, object): ['ckd', 'ckd\t', 'notckd']

In [6]:
df.rename(columns={'classification': 'class'}, inplace=True)

In [7]:
df['class'] = df['class'].astype(str)
df['class'] = df['class'].replace({'ckd' : 'a', 'notckd' : 'c'})
df['class'] = df['class'].astype('category')

df.head()

,id,age,bp,sg,al,su,rbc,bgr,bu,sod,pot,hemo,pcv,wc,rc,class
0,0,48.0,80.0,1.020,1.0,0.0,NaN,121.0,36.0,NaN,NaN,154.0,44,7800,5.2,a
1,1,7.0,50.0,1.020,4.0,0.0,NaN,NaN,18.0,NaN,NaN,113.0,38,6000,NaN,a
2,2,62.0,80.0,1.010,2.0,3.0,normal,423.0,53.0,NaN,NaN,96.0,31,7500,NaN,a
3,3,48.0,70.0,1.005,4.0,0.0,normal,117.0,56.0,111.0,2.5,112.0,32,6700,3.9,a
4,4,51.0,80.0,1.010,2.0,0.0,normal,106.0,26.0,NaN,NaN,116.0,35,7300,4.6,a

In [8]:
df.head()

,id,age,bp,sg,al,su,rbc,bgr,bu,sod,pot,hemo,pcv,wc,rc,class
0,0,48.0,80.0,1.020,1.0,0.0,NaN,121.0,36.0,NaN,NaN,154.0,44,7800,5.2,a
1,1,7.0,50.0,1.020,4.0,0.0,NaN,NaN,18.0,NaN,NaN,113.0,38,6000,NaN,a
2,2,62.0,80.0,1.010,2.0,3.0,normal,423.0,53.0,NaN,NaN,96.0,31,7500,NaN,a
3,3,48.0,70.0,1.005,4.0,0.0,normal,117.0,56.0,111.0,2.5,112.0,32,6700,3.9,a
4,4,51.0,80.0,1.010,2.0,0.0,normal,106.0,26.0,NaN,NaN,116.0,35,7300,4.6,a

In [9]:
df['class'] = df['class'].astype(str)
df['class'] = df['class'].replace({'ckd' : 'a', 'notckd' : 'c'})
df['class'] = df['class'].astype('category')

df.head()

,id,age,bp,sg,al,su,rbc,bgr,bu,sod,pot,hemo,pcv,wc,rc,class
0,0,48.0,80.0,1.020,1.0,0.0,NaN,121.0,36.0,NaN,NaN,154.0,44,7800,5.2,a
1,1,7.0,50.0,1.020,4.0,0.0,NaN,NaN,18.0,NaN,NaN,113.0,38,6000,NaN,a
2,2,62.0,80.0,1.010,2.0,3.0,normal,423.0,53.0,NaN,NaN,96.0,31,7500,NaN,a
3,3,48.0,70.0,1.005,4.0,0.0,normal,117.0,56.0,111.0,2.5,112.0,32,6700,3.9,a
4,4,51.0,80.0,1.010,2.0,0.0,normal,106.0,26.0,NaN,NaN,116.0,35,7300,4.6,a